@model Model.EntityFramework.Match

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter {
    <script src="/Assets/Admin/js/controller/searchController.js"></script>
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
    </script>
}

<h1>Create new match</h1>
</br>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</br>

@using (Html.BeginForm("Create", "Match", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Image, new { @class = "form-control", id = "txtImage" })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a id="btnSelectImage" href="#">Select</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeClubID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.HomeClubID, new { @class = "form-control col-md-1", type = "search", name = "keyword", id = "txtHomeClubID" })
                @Html.ValidationMessageFor(model => model.HomeClubID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input class="form-control col-md-1" type="text" id="txtHomeClubCode" placeholder="code" />
            </div>
            <div class="col-md-3">
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisitingClubID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.VisitingClubID, new { @class = "form-control col-md-1", type = "search", name = "keyword", id = "txtVisitingClubID" })
                @Html.ValidationMessageFor(model => model.VisitingClubID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input class="form-control col-md-1" type="text" id="txtVisitingClubCode" placeholder="code" />
            </div>
            <div class="col-md-3">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StadiumID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.StadiumID, new { @class = "form-control col-md-1", type = "search", name = "keyword", id = "txtStadiumID" })
                @Html.ValidationMessageFor(model => model.StadiumID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input class="form-control col-md-1" type="text" id="txtStadiumCode" placeholder="code" />
            </div>
            @Html.LabelFor(model => model.HoldAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.HoldAddress, new { @class = "form-control", id = "txtHoldAddress" })
                @Html.ValidationMessageFor(model => model.HoldAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ExpiredDateToSign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ExpiredDateToSign, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.ExpiredDateToSign, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ExpectedStartTime, new { @class = "form-control", type = "time" })
                @Html.ValidationMessageFor(model => model.ExpectedStartTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ExpectedEndTime, new { @class = "form-control", type = "time" })
                @Html.ValidationMessageFor(model => model.ExpectedEndTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaKeywords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaDescriptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.MetaDescriptions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaDescriptions, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Status, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}