@model List<Model.ViewModel.MatchViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <section class="inner-w3ls">
        <div class="container">
            <h3 class="text-center" data-aos="zoom-in">Match</h3>
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb" data-aos="zoom-in">
                        <li class="active">
                            <a href="/Home">Home</a>
                        </li>
                        <li class="active">Match</li>
                    </ol>

                </div>

            </div>
            <!-- /.row -->
        </div>
    </section>
}

<section class="news-w3layouts">
    <div class="container">
        @foreach (var item in Model)
        {
        <!-- Blog Post Row -->
            var link = "/Match/Detail/" + item.MetaTitle + "-" + item.ID;
            <div class="news-w3ls">
                <div class="col-md-1 text-center" data-aos="zoom-in">
                    <p class="news-agileits1"><i class="fa fa-tachometer"></i></p>
                    <p class="news-agileits2">@item.CreatedDate</p>
                </div>
                <div class="col-md-5" data-aos="flip-left">
                    <a href="@link">
                        <div class="hover01 column">
                            <div>
                                <figure><img class="img-responsive img-hover" src="@item.Image" alt="@item.Name"></figure>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6" data-aos="flip-right">
                    <h3>
                        <a href="@link">@item.Code</a>
                    </h3>
                    <p>Home club: <a href="/Club/Detail/@(item.HomeClubMetaTitle + "-" + item.HomeClubID)">@item.HomeClubName</a></p>
                    <br />
                    <p>Visiting club: <a href="/Club/Detail/@(item.VisitingClubMetaTitle + "-" + item.VisitingClubID)">@item.VisitingClubName</a></p>
                    <br />
                    <p>Stadium: <a href="/Stadium/Detail/@(item.StadiumMetaTitle + "-" + item.StadiumID)">@(item.StadiumName + " - " + item.HoldAddress)</a></p>
                    <br />
                    <p>Date: @item.Date</p>
                    <br />
                    <p>Time: @(item.ExpectedStartTime + " - " + item.ExpectedEndTime)</p>
                    <br />
                    <p>Status: <span class="badge badge-pill badge-success" style="background-color:green">@item.StatusName</span></p>
                    <br />
                    <a class="btn btn-primary" href="@link">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        <!-- /.row -->
            <hr>
        }

        <!--Phân trang-->
        @if (ViewBag.TotalPage > 0)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = (int)ViewBag.Page;

            //Create numeric links
            var startPageIndex = 0;
            var endPageIndex = 0;
            if (totalPage > pageDisplay)
            {
                startPageIndex = Math.Max(1, currentPage - (pageDisplay / 2));
                if (startPageIndex < pageDisplay / 2)
                {
                    endPageIndex = pageDisplay;
                }
                else
                {
                    endPageIndex = Math.Min(totalPage, currentPage + (pageDisplay / 2));
                    startPageIndex = endPageIndex - pageDisplay;
                }

            }
            else
            {
                startPageIndex = 1;
                endPageIndex = totalPage;
            }

            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="/Match?pageIndex=@ViewBag.First" title="First page" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="/Match?pageIndex=@ViewBag.Prev" title="Previous page" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>

                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a href="/Match?pageIndex=@i" class="active" title="Page @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="/Match?pageIndex=@i" title="Page @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="/Match?pageIndex=@ViewBag.Next" class="next" title="Next page"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="/Match?pageIndex=@ViewBag.Last" class="last" title="Last page"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <span>No records</span>
        }

        <hr>
    </div>
</section>


