@using PagedList.Mvc
@model PagedList.IPagedList<Model.EntityFramework.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="/Assets/Admin/js/lib/datatables/datatables.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/Assets/Admin/js/lib/datatables/datatables-init.js"></script>
}

@section pageTitle{
    <div class="row page-titles">
        <div class="col-md-8 align-self-center ">
            <h3 class="text-primary"><a href="/Admin/Content/Index">Content</a></h3>
        </div>
        <div class="col-md-4 align-self-center">
            @using (Html.BeginForm("Index", "Content", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" value="@ViewBag.SearchString" class="form-control form-control input-sm" name="searchString" />
                    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-search"></i></button>
                    <a class="btn btn-info btn-sm" href="javascript:history.go(-1)" role="button"><i class="fas fa-eraser"></i></a>
                    <a class="btn btn-info btn-sm" href="/Admin/Content/Create" role="button"><i class="fas fa-plus"></i></a>
                </div>
            }
        </div>
    </div>
}

<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableContent" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ContentCategoryID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">
                                        <td>@item.ID</td>
                                        <td>@item.ContentCategoryID</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@(item.Status ? "Active" : "Not available")</td>
                                        <td>
                                            <a href="/Admin/Content/Edit/@item.ID">Edit</a>
                                            |
                                            @Ajax.ActionLink("Delete", "Delete", new { @id = @item.ID }, new AjaxOptions
                                            {
                                                Confirm = "Do you really want to delete this row?",
                                                OnComplete = "$('#row_" + @item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                            })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</div>
