@model List<Model.EntityFramework.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userSession = (UserLogin)Session[FootballFlick.Common.CommonConstants.USER_SESSION];
    var ownerId = ViewBag.OwnerID;
}

@section header {
    <section class="inner-w3ls">
        <div class="container">
            <h3 class="text-center" data-aos="zoom-in">Manage Clubs</h3>
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb" data-aos="zoom-in">
                        <li>
                            <a href="/Home">Home</a>
                        </li>
                        <li class="active">ManageClubs</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
}

<section class="news-w3layouts">
    <div class="container">
        @if (userSession != null)
        {
            if (userSession.UserID == ownerId)
            {
                foreach (var item in Model)
                {
                <!-- Blog Post Row -->
                    var link = "/Club/Edit/" + item.MetaTitle + "-" + item.ID;
                    <div class="news-w3ls">
                        <div class="col-md-1 text-center" data-aos="zoom-in">
                            <p class="news-agileits1"><i class="fa fa-tachometer"></i></p>
                            <p class="news-agileits2">@item.CreatedDate</p>
                        </div>
                        <div class="col-md-3" data-aos="flip-left">
                            <a href="@link">
                                <div class="hover01 column">
                                    <div>
                                        <figure><img class="img-responsive img-hover" src="@item.Image" alt="@item.Name"></figure>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6" data-aos="flip-right">
                            <h3>
                                <a href="@link">@item.Name</a>
                            </h3>
                            <p class="news-agileits3">@item.Description</p>
                            <a class="btn btn-primary" href="@link">General</a>
                            <a class="btn btn-primary" href="/ClubPlayer/@(item.MetaTitle + "-" + item.ID)">Player</a>
                            <a class="btn btn-primary" href="#">Time</a>
                            <a class="btn btn-primary" href="#">Stadium</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                <!-- /.row -->
                    <hr>
                }

            <!--Phân trang-->
                if (ViewBag.TotalPage > 0)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = (int)ViewBag.Page;

                    //Create numeric links
                    var startPageIndex = 0;
                    var endPageIndex = 0;
                    if (totalPage > pageDisplay)
                    {
                        startPageIndex = Math.Max(1, currentPage - (pageDisplay / 2));
                        if (startPageIndex < pageDisplay / 2)
                        {
                            endPageIndex = pageDisplay;
                        }
                        else
                        {
                            endPageIndex = Math.Min(totalPage, currentPage + (pageDisplay / 2));
                            startPageIndex = endPageIndex - pageDisplay;
                        }

                    }
                    else
                    {
                        startPageIndex = 1;
                        endPageIndex = totalPage;
                    }

                    <nav>
                        <ul class="pagination">
                            @if (currentPage > ViewBag.First)
                            {
                                <li><a href="/Club?ownerId=@ownerId&pageIndex=@ViewBag.First" title="First page" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                <li>
                                    <a href="/Club?ownerId=@ownerId&pageIndex=@ViewBag.Prev" title="Previous page" class="prev"><i class="fa fa-angle-left"></i></a>
                                </li>

                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {
                                    <li><a href="/Club?ownerId=@ownerId&pageIndex=@i" class="active" title="Page @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="/Club?ownerId=@ownerId&pageIndex=@i" title="Page @i" class="pos">@i</a></li>
                                }
                            }
                            @if (currentPage < totalPage)
                            {
                                <li><a href="/Club?ownerId=@ownerId&pageIndex=@ViewBag.Next" class="next" title="Next page"><i class="fa fa-angle-right"></i></a></li>
                                <li> <a href="/Club?ownerId=@ownerId&pageIndex=@ViewBag.Last" class="last" title="Last page"><i class="fa fa-angle-double-right"></i></a></li>
                            }
                        </ul>
                    </nav>
                }
                else
                {
                    <span>No records</span>
                }
            }
            else
            {
                <div class="alert alert-danger">You don't have the permission to access</div>
            }
        }
        else
        {
            <div class="alert alert-danger">You must login to manage the Club</div>
        }

        <hr>
    </div>
</section>




