@model List<Model.ViewModel.ClubPlayerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userSession = (UserLogin)Session[FootballFlick.Common.CommonConstants.USER_SESSION];
    var clubId = ViewBag.ClubID;
    var clubName = ViewBag.ClubName;
    var ownerId = ViewBag.OwnerID;
}

@section jsFooter{
    <script src="/Assets/Client/js/controller/clubPlayerController.js"></script>
}

@section header {
    <section class="inner-w3ls">
        <div class="container">
            <h3 class="text-center" data-aos="zoom-in">@clubName</h3>
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb" data-aos="zoom-in">
                        <li>
                            <a href="/Home">Home</a>
                        </li>
                        <li class="active">PlayerList</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
}

<section class="schedule-w3layouts">
    <div class="container">
        <div>
            <a href="#" class="btn btn-primary" id="btnAddPlayer" data-aos="zoom-in">Add player</a>
        </div>
        <br />
        @if (userSession != null)
        {
            if (userSession.UserID == ownerId)
            {
                <div class="table-responsive" data-aos="flip-down">
                    <table class="table">
                        <thead>
                            <tr id="@clubId">
                                <th><h4>PlayerID</h4></th>
                                <th><h4>Name</h4></th>
                                <th><h4>Identification</h4></th>
                                <th><h4>Action</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.PlayerID">
                                    <td>@item.PlayerID</td>
                                    <td>@item.PlayerName</td>
                                    <td>@item.PlayerIdentification</td>
                                    <td>
                                        <a href="/Player/Edit/@item.PlayerID">Infor</a>
                                        |
                                        <a href="/Player/Edit/@item.PlayerID">Edit</a>
                                        |
                                        <a href="#" data-id="@item.PlayerID" class="btnDelete">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            <!--Phân trang-->
                if (ViewBag.TotalPage > 0)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = (int)ViewBag.Page;

                    //Create numeric links
                    var startPageIndex = 0;
                    var endPageIndex = 0;
                    if (totalPage > pageDisplay)
                    {
                        startPageIndex = Math.Max(1, currentPage - (pageDisplay / 2));
                        if (startPageIndex < pageDisplay / 2)
                        {
                            endPageIndex = pageDisplay;
                        }
                        else
                        {
                            endPageIndex = Math.Min(totalPage, currentPage + (pageDisplay / 2));
                            startPageIndex = endPageIndex - pageDisplay;
                        }

                    }
                    else
                    {
                        startPageIndex = 1;
                        endPageIndex = totalPage;
                    }

                    <nav>
                        <ul class="pagination">
                            @if (currentPage > ViewBag.First)
                        {
                                <li><a href="/ClubPlayer?clubId=@clubId&pageIndex=@ViewBag.First" title="First page" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                <li>
                                    <a href="/ClubPlayer?clubId=@clubId&pageIndex=@ViewBag.Prev" title="Previous page" class="prev"><i class="fa fa-angle-left"></i></a>
                                </li>

                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {
                                    <li><a href="/ClubPlayer?clubId=@clubId&pageIndex=@i" class="active" title="Page @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="/ClubPlayer?clubId=@clubId&pageIndex=@i" title="Page @i" class="pos">@i</a></li>
                                }
                            }
                            @if (currentPage < totalPage)
                        {
                                <li><a href="/ClubPlayer?clubId=@clubId&pageIndex=@ViewBag.Next" class="next" title="Next page"><i class="fa fa-angle-right"></i></a></li>
                                <li> <a href="/ClubPlayer?clubId=@clubId&pageIndex=@ViewBag.Last" class="last" title="Last page"><i class="fa fa-angle-double-right"></i></a></li>
                            }
                        </ul>
                    </nav>
                }
                else
                {
                    <span>No records</span>
                }
            }
            else
            {
                <div class="alert alert-danger">You don't have the permission to access</div>
            }
        }
        else
        {
            <div class="alert alert-danger">You must login to manage the Club</div>
        }
        
    </div>

</section>

<!-- Modal -->
<div id="formAddPlayer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Model header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Player</h4>
            </div>
            <!-- Model body-->
            <div class="modal-body">
                <div id="formAdd" style="margin:5px;">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtName" maxlength="50" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Identification</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtIdentification" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Address</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtAddress" maxlength="250" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtEmail" maxlength="250" type="email" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Phone</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtPhone" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Image</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="txtImage" maxlength="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- Model footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSavePlayer">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>