<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Assets/Admin/images/favicon.png">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Assets/Admin/css/custom.css" rel="stylesheet" />

    <!--PagedList-->
    <link href="/Content/PagedList.css" rel="stylesheet" />

    <link href="/Assets/Admin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="/Assets/Admin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/Assets/Admin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Assets/Admin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Assets/Admin/css/helper.css" rel="stylesheet">
    <link href="/Assets/Admin/css/style.css" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="/Assets/Admin/icons/font-awesome/css/fontawesome-all.css" rel="stylesheet" />


</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        @RenderPage("_Header.cshtml")
        <!-- End header header -->
        <!-- Left Sidebar  -->
        @RenderPage("_MainNavigation.cshtml")
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            @RenderSection("pageTitle", required: true)
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            @RenderBody()
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/Assets/Admin/js/lib/jquery/jquery.min.js"></script>
    <script src="/Assets/Admin/js/jquery.unobtrusive-ajax.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/Assets/Admin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/Assets/Admin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Assets/Admin/js/bootstrap-notify.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/Assets/Admin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/Assets/Admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/Assets/Admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!-- Amchart -->
    @RenderSection("jsAmchart", required: false)

    <script src="/Assets/Admin/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/Assets/Admin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/Assets/Admin/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/Assets/Admin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/Assets/Admin/js/lib/calendar-2/pignose.init.js"></script>

    <script src="/Assets/Admin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Assets/Admin/js/lib/owl-carousel/owl.carousel-init.js"></script>

    <!-- Plugins -->
    <script src="/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>

    <!-- scripit init-->
    <script src="/Assets/Admin/js/scripts.js"></script>

    <!-- Đoạn này là để nhúng các file JavaScript mà mình viết-->
    @RenderSection("jsFooter", required: false)

    <!-- Popup Notification -->
    @if (TempData["NotificationMessage"] != null)
    {
        <script>
            $(document).ready(function () {
                $.notify({
                    title: '<strong>@TempData["NotificationTitle"]</strong>',
                    message: '@TempData["NotificationMessage"]'
                }, {
                    type: '@TempData["NotificationType"]'
                });
            });
        </script>
    }
    <!-- Popup Notification -->

</body>

</html>